video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(http://www.paintball-battlefield.de/img/hintergrund.jpg) no-repeat;
    background-size: cover;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}

.panel {
    border: 0px;
}

.alpha-color {
    background: #b11f1f;
}

.bravo-color {
    background: #a7a4a4;
}

.charlie-color {
    background: #3921ff;
}

.delta-color {
    background: #339827;
}

.echo-color {
    background: #ebc000;
}

span.stars, span.stars span {
    display: block;
    /*background: url(http://www.ulmanen.fi/stuff/stars.png) 0 -16px repeat-x;*/
    background: url(../img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}